@rendermode InteractiveServer
@code {
    [Parameter]
    [EditorRequired]
    public double averageMessagesPerDay { get; set; }
}

<div class="average-message-container">
    <h2 class="average-message-text">There were, on average, @Math.Round(averageMessagesPerDay, 2) messages per day</h2>
</div>

<style>
    .average-message-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>