@rendermode InteractiveServer
@code {
    [Parameter]
    [EditorRequired]
    public double powerAbbrevCount { get; set; }
}

<div class="power-abbrev-container">
    <h2 class="text">They used @powerAbbrevCount power abbreviations (abbreviations like ily, gn, etc.)</h2>
</div>

<style>
    .power-abbrev-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>