@rendermode InteractiveServer
@code {
    [Parameter]
    [EditorRequired]
    public double powerPhraseCount { get; set; }
}

<div class="power-phrase-container">
    <h2 class="text">They used @powerPhraseCount power phrases (phrases like "I love you" or "good night")</h2>
</div>

<style>
    .power-phrase-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>
