@rendermode InteractiveServer
@code {
    [Parameter]
    [EditorRequired]
    public double powerPhraseCount { get; set; }
}

<div class="power-phrase-container">
    <img class="clock-img" src="../clock.webp" />
    <h2 class="text">They said an average of @powerPhraseCount power phrases (phrases like "I love you" or "good night")</h2>
</div>

<style>
    .power-phrase-container {
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
    }

    .clock-img {
    height: 100px;
    }
</style>
