@rendermode InteractiveServer
<div class="error">
    <h1 class="titan-one error-text">OOPS - We Ran into an error!</h1>
    <button class="return" @onclick="returnToHome">Return to home</button>
</div>

<style>
    .error {
        text-align: center;
        background-color: red;
        padding: 20px;
        border-radius: 10px;
    }

    .error-text {
        font-size: 50pt;
    }

    .return {
        width: 50%;
        height: 50px;
        background-color:
            @BlazorTest.ColorConstants.hunyadi
        ;
        border: 0px;
        border-radius: 10px;
    }
</style>

@code {
    [Parameter]
    [EditorRequired]
    public EventCallback returnToHome { get; set; }
}