@page "/"
@using System.Runtime.InteropServices
@rendermode InteractiveServer

<PageTitle>LOVE-ME-NOT</PageTitle>

<h1 class="titan-one title">LOVE-ME-NOT</h1>

@switch (state)
{
    case Page.UploadFile:
        <UploadFile OnLove="@LoveCalculated" />
        ; break;
    case Page.Loading:
        <Loading />
        ; break;
    case Page.Results:
        @if (results is not null)
        {
            <Results results="@results.Value" />
        }
        else
        {
            <Error returnToHome="() => { state = Page.UploadFile; }" />
        }

; break;
}


@code {
    enum Page
    {
        UploadFile,
        Loading,
        Results,
    }
    Page state = Page.Results;
    LoveResults? results = new LoveResults
    {
        love_percentage = 100.0,
        meaning = new LovePercentageMeaning(100.0),
        average_response = new WeightedResult<double>(100, 1),
        heart_count = new WeightedResult<double>(1.70, 1.5)
    };
    private List<Message> parse_json = new List<Message>();

    public async void LoveCalculated((IBrowserFile file, string token) args)
    {
        Console.WriteLine("Love calculated");
        state = Page.Loading;
        await InvokeAsync(StateHasChanged);
        parse_json = await FileHandle.ParseJson(args.file, args.token);

        foreach (var message in parse_json)
        {
            Console.Write(message.Time + ": ");
            Console.WriteLine(message.Content);
        }
        Console.WriteLine("Number of messages: " + parse_json.Count());
        ChatLog clog = new ChatLog(parse_json);
        results = clog.FindAverageResponseTime();
        state = Page.Results;
        await InvokeAsync(StateHasChanged);
        Console.WriteLine("Finished Calculating Love!!!");
    }
}

<style>
    .title {
        font-size: 100pt;
        color:
            @BlazorTest.ColorConstants.rose
        ;
    }

    body {
        background-color:
            @BlazorTest.ColorConstants.mint
        ;
        display: flex;
        justify-content: center;
        text-align: center;
    }
</style>