@page "/"
@rendermode InteractiveServer

<PageTitle>LOVE-ME-NOT</PageTitle>

<h1 class="titan-one title">LOVE-ME-NOT</h1>

@switch (state)
{
    case Page.UploadFile:
        <UploadFile OnLove="@LoveCalculated" />
        ; break;
    case Page.Loading:
        <Loading/>
        ; break;
    case Page.Results:
        <Results/>
        ; break;
}


@code {
    enum Page
    {
        UploadFile,
        Loading,
        Results,
    }
    Page state = Page.UploadFile;

    public void LoveCalculated()
    {
        Console.WriteLine("Love calculated");
        state = Page.Loading;
        Console.WriteLine(state);
    }
}

<style>
    .title {
        font-size: 100pt;
        color:
            @BlazorTest.ColorConstants.rose
        ;
    }

    body {
        background-color:
            @BlazorTest.ColorConstants.mint
        ;
        display: flex;
        justify-content: center;
    }
</style>