@page "/"

<PageTitle>LOVE-ME-NOT</PageTitle>

<h1 class="titan-one title">LOVE-ME-NOT</h1>

Welcome to your new app.

@code {

}

<style>
    .title {
        font-size: 100pt;
        color:
            @BlazorTest.ColorConstants.rose
        ;
    }

    body {
        background-color:
            @BlazorTest.ColorConstants.mint
        ;
        display: flex;
        justify-content: center;
    }
</style>