@rendermode InteractiveServer
<div class="container">
</div>
<style>
    .container {
        background-color:
            @BlazorTest.ColorConstants.purple
        ;
        border-radius: 20px;
        padding: 10px;
        height: 100%;
    }
</style>